@use './variables';

@font-face {
  font-family: 'UOLtext';
  src: url('./fonts/uol-text-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'UOLtext';
  src: url('./fonts/uol-text-bold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'UOLtext', Arial, sans-serif;
  color: variables.$color-text-main;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  transition: 0.3s ease;
  transition-property: color, background-color;
}

body {
  margin: 0;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  width: 1304px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.link {
  color: variables.$color-link;
  &:hover {
    color: variables.$color-link-hover;
  }
}

strong {
  font-weight: 700;
}

button,
select {
  border: none;
  background-color: unset;
  cursor: pointer;
}

li {
  list-style: none;
}
