@use './variables';

.footer {
  display: flex;
  flex-direction: column;
  border-top: 1px solid variables.$color-divider;
  &__bottom {
    background-color: #f2f2f2;
    height: 90px;
    display: flex;
    align-items: center;
    font-size: 14px;
  }
  &__bottom-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__social {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  &__social-icons {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__top {
    padding: 48px 0;
  }
  &__top-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__top-item {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  &__top-link {
    max-width: 318px;
  }
  &__phones {
    display: flex;
    align-items: center;
    gap: 48px;
  }
  &__phones-item {
    display: flex;
    flex-direction: column;
  }
  &__phone {
    font-size: 20px;
    line-height: 32px;
  }
  &__apps {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}
