@use './variables';

.header {
  height: 72px;
  border-bottom: 1px solid variables.$color-divider;
  display: flex;
  align-items: center;
  width: 100%;
  position: fixed;
  background-color: #fff;
  z-index: 1;
  &__inner {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
  }
  &__logo {
    display: flex;
    align-items: center;
    gap: 18px;
  }
  &__logo-image {
    display: flex;
    align-items: center;
  }
  &__hamburger {
    display: flex;
    align-items: center;
    &:hover {
      fill: variables.$color-link-hover;
    }
  }
  &__links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
  }
  &__link {
    display: flex;
    align-items: center;
    gap: 7px;
    cursor: pointer;
    &:hover {
      color: variables.$color-link-hover;
    }
  }
  &__exchange {
    display: flex;
    align-items: center;
    gap: 7px;
    cursor: pointer;
  }
  &__currency {
    display: flex;
    align-items: center;
    gap: 3px;
    color: #2ba24f;
  }
  &__currency-icon {
    fill: #2ba24f;
  }
  &__actions {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 25px;
    font-weight: 700;
  }
  &__login {
    display: flex;
    align-items: center;
    gap: 7px;
    font-weight: 700;
    font-size: inherit;
    &:hover {
      color: variables.$color-link-hover;
      fill: variables.$color-link-hover;
    }
  }
  &__subscribe {
    display: flex;
    align-items: center;
    gap: 7px;
    background-color: variables.$color-btn;
    padding: 16px;
    height: 40px;
    font-weight: 700;
    border-radius: 8px;
    &:hover {
      background-color: variables.$color-btn-hover;
    }
  }
}