$color-currency: #2ba24f;
$color-link: #d6001e;
$color-link-hover: #ad0019;
$color-btn: #ffce00;
$color-btn-hover: #d6ad00;
$color-text-main: #202020;
$color-text-secondary: #666666;
$color-divider: #e6e6e6;